*{
    margin: 0;
    padding: 0;
}
body{
    background: url(bg.jpg);
    width: 100vh;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
h1{
    color: red;
}
img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border:10px solid red;
}